<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:security="http://www.springframework.org/schema/security"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security.xsd">

	<import resource="classpath:databaseContext.xml" />
	<import resource="classpath:logicContext.xml" />

	<context:component-scan base-package="com.prateek.learnspring" />
	<mvc:annotation-driven />
	
	<mvc:resources mapping="/static/**" location="/static/" cache-period="0"/>
	<mvc:resources mapping="/**" location="/" cache-period="0"/>
	
	<bean id="jspViewResolver" class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<property name="viewClass" value="org.springframework.web.servlet.view.JstlView" />
		<property name="prefix" value="/WEB-INF/jsp/" />
		<property name="suffix" value=".jsp" />
	</bean>
	
	<security:http pattern="/static/**" security="none" /> <!-- static resources -->
	<security:http pattern="/login" security="none" /> <!-- login page -->
	<security:http pattern="/test" security="none" /> <!-- register page -->
	
	<security:http auto-config="true">
		<security:intercept-url pattern="/*.jsp" access="permitAll"/>
		
	</security:http>
	
	<security:authentication-manager>
		<security:authentication-provider ref="loginAuthProvider"/>
	</security:authentication-manager>
	
	
</beans> 